@model FinalProjectAl1.Models.Request

@{
    ViewData["Title"] = "Raise Task";
}

<h1>Create</h1>

<hr />
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            Create New Request
        </div>
        <div class="card-body">
            <form asp-action="Create">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="RequestShortId" class="control-label"></label>
                            <input asp-for="RequestShortId" class="form-control" />
                            <span asp-validation-for="RequestShortId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="RequestRank" class="control-label"></label>
                            <input asp-for="RequestRank" class="form-control" />
                            <span asp-validation-for="RequestRank" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="RequestFirstName" class="control-label"></label>
                            <input asp-for="RequestFirstName" class="form-control" />
                            <span asp-validation-for="RequestFirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="RequestLastName" class="control-label"></label>
                            <input asp-for="RequestLastName" class="form-control" />
                            <span asp-validation-for="RequestLastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="RequestEmailAdd" class="control-label"></label>
                            <input asp-for="RequestEmailAdd" class="form-control" />
                            <span asp-validation-for="RequestEmailAdd" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="RequestContactPhone" class="control-label"></label>
                            <input asp-for="RequestContactPhone" class="form-control" />
                            <span asp-validation-for="RequestContactPhone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="RequestUnitIdentifier" class="control-label"></label>
                            <input asp-for="RequestUnitIdentifier" class="form-control" />
                            <span asp-validation-for="RequestUnitIdentifier" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="RequestAssignedTo" class="control-label"></label>
                            <input asp-for="RequestAssignedTo" class="form-control" />
                            <span asp-validation-for="RequestAssignedTo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="RequestTitle" class="control-label"></label>
                            <input asp-for="RequestTitle" class="form-control" />
                            <span asp-validation-for="RequestTitle" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="RequestTaskDescription" class="control-label"></label>
                            <input asp-for="RequestTaskDescription" class="form-control" />
                            <span asp-validation-for="RequestTaskDescription" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="RequestStatus" class="control-label"></label>
                    <input asp-for="RequestStatus" class="form-control" />
                    <span asp-validation-for="RequestStatus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RequestArchive" class="control-label"></label>
                    <input asp-for="RequestArchive" class="form-control" />
                    <span asp-validation-for="RequestArchive" class="text-danger"></span>
                </div>
                <div class="text-end">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
