@{
    ViewData["Title"] = "TMSC - Portal";
}

<div class="container position-relative">
<div class="card bg-light bg-opacity-75 shadow rounded p-4 text-center">
    <h1 class="display-4">Welcome to the <br /><strong>Typhoon Mission Support Centre</strong></h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<img src="~/images/8556ad2d-facd-4e2e-af1d-3a0b3e529263.png" alt="Decorative" class="right-centre-image" />
</div>


