@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="card bg-light bg-opacity-75 shadow rounded p-4">
<section>
    <h1>@ViewData["Title"] Notice: Typhoon Mission Support Centre - Portal</h1>
    <p>
        This notice explains how the application collects personal data.
    </p>
</section>

<section>
    <h2> What data is collected?</h2>
    <p>The applcation collects data to allow users to create, update and track tasks, this will include: </p>
    <ul>
        <li>User names and contact details</li>
        <li>Task descriptions</li>
        <li>System generated data - such as timestamps and basic logging.</li>
    </ul>
</section>
</div>